services:
  broker1:
    build:
      context: ./wave-mq
    container_name: wave-mq-1
    networks:
      wave-net:
        aliases:
          - broker
          - broker1
    command:
      - "-broker-id=1"
      - "-controller=raft"
      - "-raft-bind=broker1:9001"
      - "-raft-peer=broker1:9001,broker2:9001"
      - "-raft-dir=/data/raft"
      - "-data-dir=/data"
      - "-bind=:7912"
      - "-mqtt=:1883"
      - "-http=:8090"
      - "-replication=true"
    volumes:
      - wave_data1:/data
    ports:
      - "7912:7912"
      - "1883:1883"
      - "8091:8090"

  broker2:
    build:
      context: ./wave-mq
    container_name: wave-mq-2
    networks:
      wave-net:
        aliases:
          - broker2
    command:
      - "-broker-id=2"
      - "-controller=raft"
      - "-raft-bind=broker2:9001"
      - "-raft-peer=broker1:9001,broker2:9001"
      - "-raft-dir=/data/raft"
      - "-data-dir=/data"
      - "-bind=:7912"
      - "-mqtt=:1883"
      - "-http=:8090"
      - "-replication=true"
    volumes:
      - wave_data2:/data
    ports:
      - "8912:7912"
      - "2883:1883"
      - "8092:8090"
  ui:
    build:
      context: ./wave-ui
      args:
        VITE_API_BASE_URL: ""
        VITE_METRICS_URL: ""
        VITE_USE_MOCKS: "false"
    container_name: wave-ui
    depends_on:
      - broker1
      - broker2
    ports:
      - "8080:80"
    networks:
      wave-net:

volumes:
  wave_data1:
  wave_data2:

networks:
  wave-net:
